@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
}
button {
    font-family: 'Pretendard';
}
body{
    background: #FEFCF9;
    color: #111;
    font-family: 'Pretendard';
}
header{
    width: 100%;
    font-family: "Judson", serif;
    font-weight: 400;
    background: #FEFCF9;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 30;
}
.progress-container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 5px;
	background-color: #d6d6d6;
}
.progress-bar {
	position: fixed;
	top: 0px;
	width: 0%;
	height: 5px;
	background: linear-gradient(to right,rgb(233, 209, 163) 0%, rgb(230, 173, 93) 50vw, rgb(244, 149, 80) 100vw);
	border-radius: 0px 10px 10px 0px;
	border-radius: 10px;
}
.head_inner_box{
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 1% 2%;
    box-sizing: border-box;
    position: relative;
}
.head_inner_box ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    float: left;
}
.head_inner_box ul li{
    width: 10rem;
    padding: 0.8% 0;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #111;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.1s ease;
}
.focusolor{
    background: #333;
    color: #fff;
}
.head_inner_box ul li:hover{
    background: #333;
    color: #fff;
}
.name{
    font-size: 1.625rem;
    position: absolute;
    top: 1em;
    right: 1.4em;
    display: none;
}
.hamb_icon{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 2.3%;
    cursor: pointer;
    display: none;
}
.hamb_icon > span{
    display: block;
    width: 100%;
    height: 3px;
    margin: 5px 0;
    background: #353535;
    border-radius: 2px;
}
main{
    width: 100%;
    padding-top: 5.7%;
}
.main_banner_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/banner/main-IMG.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
}
.banner_title{
    width: 60%;
    height: 100vh;
    transform: skew(-6deg, -1deg) rotate(14deg);
    font-family: 'InkLipquid';
    position: relative;
    top: 0;
    left: 38%;
}
.banner_title > div{
    margin: 3% 0;
    font-size: 4em;
}
.banner_top_text{
    width: 100%;
    position: absolute;
    top: 30%;
}
.job_type_txt{
    width: 100%;
    height: 1.6em;
}
.typing:after {
    display: inline-block;
    margin-left: 3%;
    vertical-align: middle;
    content: '';
    background: #303030;
    width: 1%;
    height: 40%;
    animation: blink infinite 1s ease;
}
@keyframes blink { 
    0%  {
        opacity:0;
    }
    100%  {
        opacity:1;
    }
}
.porfol_banner_name{
    padding: 3% 0;
    text-align: right;
    font-size: 0.4em;
    position: relative;
}
.porfol_banner_name::before{
    display: block;
    width: 30px;
    height: 1px;
    content: '';
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
}
.banner_title span{
    display: block;
}
.banner_title > p{
    clear: both;
    width: 100%;
    padding: 4% 0;
    font-size: 1.25em;
    position: absolute;
    bottom: 10%;
}
section.about_section{
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 8rem;
    padding-top: 6rem !important;
    box-sizing: border-box;
}
.sectionName > h1{
    font-family: "Judson", serif;
    font-size: 3.25rem;
    font-weight: 400;
}
.about_section > h1::after{
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    margin-top: 2%;
    background: #575757;
}
.about_element_wrap{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.about_element_wrap > div{
    margin-top: 5%;
}
.profile_left_wrap{
    width: 45%;
    overflow: hidden;
    float: left;
}
.profile_img_container{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    border: 6px solid #D5D5D5;
    position: relative;
}
.profile_img_container img{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 4px;
    left: 0;
    object-fit: cover;
}
ul.profile_informat{
    margin: 0 auto;
    box-sizing: border-box;
    width: 70%;
    padding-left: 10%;
}
.profile_informat li{
    margin: 6% 0;
    font-size: 1.125rem;
    font-weight: 400;
}
.profile_informat span{
    display: inline-block;
    width: 23%;
    padding: 2% 0;
    margin-right: 4%;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 600;
    border: 1px solid #939393;
    border-radius: 6px;
}
.profile_right_wrap{
    width: 55%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding-right: 2%;
    position: relative;
    top: 40px;
    right: 7%;
}
.main_title{
    font-size: 2.4em;
    font-weight: 700;
}
.main_title span{
    display: block;
    margin-bottom: 0.3em;
    font-size: 0.75em;
    font-weight: 500;
}
.profile_right_wrap > p{
    margin-top: 8%;
    font-size: 1.25em;
    line-height: 1.68em;
    color: #535353;
}
.resume_btn {
    margin-top: 16%;
    overflow: hidden;
}
.resume_btn a{
    display: block;
    padding: 2% 5%;
    float: right;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    background: #212121;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.resume_btn a:hover{
    background-color: #C16A3B;
}
article.self_introduct_keyword{
    clear: both;
    width: 100%;
    padding-top: 6rem !important;
}
.self_introduct_keyword > h1{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
}
.circle_line{
    width: 100%;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circle_line::before{
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    margin-top: 0.14rem;
    background: #575757;
    position: absolute;
    top: 0.14rem;
    left: 0;
}
span.circle{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background: #575757;
    border-radius: 50%;
}
.keyword_text_wrap{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.keyword_container{
    width: calc(100% / 3);
    margin-top: 5%;
    padding: 0 3%;
}
.title{
    margin-bottom: 10%;
    font-size: 1.375rem;
    font-weight: 700;
}
.title span{
    display: block;
    margin-bottom: 4%;
    font-family: "Judson", serif;
    font-size: 1.8rem;
}
.keyword_container > p{
    font-size: 1.125rem;
    line-height: 1.725rem;
}
article.other_view_wrap{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 14rem;
    position: relative;
}
.other_view_Left_txt{
    width: 55%;
    overflow: hidden;
    float: left;
}
.other_view_Left_txt > h1{
    line-height: 1.3em;
    font-size: 2.25em;
    font-weight: 400;
}
.other_view_Left_txt > h1 > span{
    font-weight: 700;
}
.other_view_list{
    box-sizing: border-box;
}
.other_view_list > .list{
    clear: both;
    overflow: hidden;
    margin-top: 9%;
}
.other_view_list h3 {
    float: left;
    font-size: 1.375rem;
    position: relative;
    top: -2px;
}
.other_view_list h3 > span{
    font-family: "Judson", serif;
    font-size: 2rem;
    position: relative;
    top: 0.1rem;
}
.other_view_list p{
    overflow: hidden;
    padding-left: 2rem;
    font-size: 1.125rem;
    line-height: 1.725rem;
}
.other_view_right_Img{
    width: 40%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    margin-top: 7em;
    border-bottom-right-radius: 50%;
}
.other_view_right_Img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.abillty_section {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 8rem;
    padding-top: 6rem !important;
    box-sizing: border-box;
}
.abillty_section > h1::after{
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    margin-top: 2%;
    background: #575757;
}
article.abillty_content_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.abillty_content_wrap > div{
    width: 50%;
    margin-top: 4%;
    padding: 0 5%;
    box-sizing: border-box;
}
.history_text_left{
    width: 100%;
    overflow: hidden;
    border-right: 1px solid #575757;
    position: relative;
}
.date_line{
    width: 0.4px;
    height: 75%;
    background: #686868;
    position: absolute;
    top: 10%;
    left: 10.4%;
}
.history_text_left ul{
    width: 100%;
    overflow: hidden;
    margin: 1.9em 0;
    clear: both;
    position: relative;
}
.history_text_left li{
    line-height: 1.5rem;
}
.history_text_left li.date{
    width: 35%;
    font-size: 1rem;
    float: left;
    color: #888888;
}
.history_text_left li.date::before{
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    content: '';
    margin-right: 8%;
    background: #575757;
    border-radius: 50%;
}
li.history_title{
    width: 65%;
    box-sizing: border-box;
    text-align: left;
    float: right;
    font-size: 1.125rem;
    font-weight: 500;
}
span.history_detail{
    display: block;
    font-size: 1rem;
    color: #333;
}
.detail_abillty_right{
    width: 100%;
    overflow: hidden;
}
.license_wrap{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 38px;
}
.license_wrap > div{
    /* width: 12rem; */
    width: 50%;
    padding: 1em 0;
    text-align: center;
    border: 1px solid #939393;
    border-radius: 30px;
    font-size: 0.9em;
}
.tool_ability_wrap{
    overflow: hidden;
    padding: 0 3%;
}
.tool_list{
    width: 100%;
    overflow: hidden;
    clear: both;
    margin: 2em 0;
    position: relative;
}
.tool_list > span{
    float: left;
    font-size: 1.2rem;
    font-weight: 400;
}
.degree_bar{
    width: 80%;
    height: 4px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
    background: #DBDBDB;
}
.actual_degree{
    height: 100%;
    background: #2B2B2B;
}
.tool_HTML .actual_degree{
    width: 85%;
}
.tool_CSS .actual_degree{
    width: 80%;
}
.tool_JS .actual_degree{
    width: 70%;
}
.tool_AI .actual_degree{
    width: 85%;
}
.tool_PS .actual_degree{
    width: 80%;
}
.tool_Figma .actual_degree{
    width: 82%;
}
section.portfolio_section{
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 6rem 8rem;
    box-sizing: border-box;
}
.portfolio_section > h1::after{
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    margin-top: 2%;
    background: #575757;
}
.portfolio_section > h1 > span{
    display: block;
    margin-top: 0.4rem;
    font-family: 'Pretendard';
    font-size: 0.9rem;
    color: #797979;
}
article.site_contents{
    width: 100%;
    position: relative;
    padding-top: 18%;
}
article.site_haevichi{
    overflow: hidden;
    padding-top: 4%;
}
article.site_elle{
    overflow: hidden;
}
.left_area{
    width: 60%;
    float: left;
}
button.conceptBtn {
    text-align: left;
    padding: 1.2% 5%;
    margin-bottom: 2em;
    border: 1px solid #000;
    font-size: 0.8em;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
}
.mockup_wrap{
    width: 100%;
    text-align: center;
    position: relative;
}
.mockup_pc{
    width: 100%;
    position: relative;
}
.mockup_pc > img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 4s ease-in-out;
}
.pc_img{
    width: 96.6%;
    height: 68.9%;
    overflow: hidden;
    border-top-left-radius: 0.4vw;
    border-top-right-radius: 0.4vw;
    position: absolute;
    top: 2.1%;
    left: 1.7%;
    cursor: pointer;
}
.pc_img > img{
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    z-index: 20;
    transition: all 6s ease-in-out;
}
.mockup_mobile{
    width: 22%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: -10%;
    z-index: 25;
}
.mockup_mobile > img{
    width: 100%;
}
.mobile_img{
    width: 69.9%;
    height: 77%;
    overflow: hidden;
    border-radius: 0.6vw;
    position: absolute;
    top: 2%;
    left: 15%;
    cursor: pointer;
}
.mobile_img > img{
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    z-index: 20;
    transition: all 6s ease-in-out;
}
.origin_btn_container > button{
    font-size: 0.8em;
    border: none;
    border-bottom: 1px solid #797979;
    background: transparent;
    color: #797979;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.origin_btn_container > button:hover{
    color: #000;
    border-color: #000;
}
.right_area{
    width: 40%;
    overflow: hidden;
    margin-top: 6%;
    padding-left: 8%;
    box-sizing: border-box;
}
.site_name{
    font-size: 0.9em;
    color: #797979;
}
.site_name span.engName{
    margin-right: 2%;
    font-size: 2em;
    font-weight: 900;
}
.site_detail_explanat{
    margin: 12% 0;
}
.site_detail_explanat dl{
    clear: both;
    overflow: hidden;
    margin: 6% 0;
}
.site_detail_explanat dl dt{
    width: 5.4em;
    overflow: hidden;
    margin-right: 6%;
    float: left;
    font-size: 0.94rem;
    font-weight: 500;
}
.site_detail_explanat dl dd{
    overflow: hidden;
    font-size: 0.9rem;
    color: #393E46;
    position: relative;
}
dl.Period dd span{
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 8px;
}
dl.Period dd span img{
    width: 100%;
    height: 100%;
    position: relative;
    top: -3px;
    left: 0;
    object-fit: contain;
}
dl.color span.colorChip{
    overflow: hidden;
    display: block;
    float: left;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    margin-right: 5%;
    border-radius: 50%;
    position: relative;
    top: 0;
}
.btn_container{
    text-align: center;
}
.btn_container button{
    width: 32%;
    padding: 2% 0;
    font-size: 0.84em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s ease;
}
p.annotation{
    margin: 3% 0;
    text-align: center;
    font-size: 0.74em;
    color: #797979;
}
.QR-code{
    width: 20%;
    overflow: hidden;
    padding: 0.4em;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 12px;
}
.QR-code > img{
    width: 100%;
    object-fit: contain;
}
.site_haevichi button.conceptBtn {
    border-color: #395977;
    color: #0b2c4b;
}
.site_haevichi .pc_img > img{
    top: 0%; 
}
.site_haevichi .mobile_img > img{
    top: 0%; 
}
.site_haevichi span.engName{
    color: #415F89;
}
.site_haevichi .colorChip:nth-child(1){
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
}
.site_haevichi .colorChip:nth-child(2){
    background: #116AB0;
}
.site_haevichi .colorChip:nth-child(3){
    background: #222222;
}
.site_haevichi .btn_container button{
    background: #395977;
    color: #fff;
}
.site_haevichi .btn_container button:hover{
    background: #1b2e41;
}
.site_elle .left_area{
    float: right;
}
.site_elle .right_area{
    padding-left: 0;
    padding-right: 8%;
}
.site_elle .conceptBtn_container{
    text-align: right;
}
.site_elle button.conceptBtn {
    border-color: #B59E90;
    color: #824016;
}
.site_elle .pc_img > img{
    top: 0% ; 
}
.site_elle .mobile_img > img{
    top: 0%; 
}
.site_elle span.engName{
    color: #644B3B;
}
.site_elle .colorChip:nth-child(1){
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
}
.site_elle .colorChip:nth-child(2){
    background: #EFE3D8;
    border: 2px solid #CCCCCC;
}
.site_elle .colorChip:nth-child(3){
    background: #2A221D;
}
.site_elle .colorChip:nth-child(4){
    background: #111111;
}
.site_elle .btn_container button{
    background: #B59E90;
    color: #fff;
}
.site_elle .btn_container button:hover{
    background: #5c4537;
}
.site_nivea button.conceptBtn {
    border-color: #3D5CA1;
    color: #2750AB;
}
.site_nivea .pc_img > img{
    top: 0%; 
}
.mockup_tablet{
    width: 52%;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: -10%;
    z-index: 25;
}
.mockup_tablet > img{
    width: 100%;
}
.tablet_img{
    width: 87.8%;
    height: 83%;
    overflow: hidden;
    border-radius: 0.35vw;
    position: absolute;
    top: 8.4%;
    left: 6.4%;
    cursor: pointer;
}
.tablet_img > img{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
    z-index: 20;
    transition: all 6s ease-in-out;
}
.site_nivea .mobile_img > img{
    top: 0%; 
}
.site_nivea span.engName{
    color: #014DAF;
}
.site_nivea .colorChip:nth-child(1){
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
}
.site_nivea .colorChip:nth-child(2){
    background: #9093F4;
}
.site_nivea .colorChip:nth-child(3){
    background: #0032A0;
}
.site_nivea .colorChip:nth-child(4){
    background: #3D5CA1;
}
.site_nivea .btn_container button{
    width: 24%;
    background: #0661D7;
    color: #fff;
}
.site_nivea .btn_container button:hover{
    background: #003882;
}
section.clone_coding_wrap{
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 8rem;
    padding-top: 6rem !important;
    box-sizing: border-box;
}
.clone_coding_wrap > h1{
    text-align: center;
    position: relative;
}
.clone_coding_wrap > h1::before{
    display: block;
    width: 35%;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #cdcdcd;
}
.clone_coding_wrap > h1::after{
    display: block;
    width: 35%;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #cdcdcd;
}
.clone_coding_wrap > p{
    margin: 1% 0;
    text-align: center;
    font-size: 1.125rem;
    color: #797979;
}
article.clone_work_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4%;
}
article.clone_work_container > div{
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
}
.clone_work_container h1{
    margin: 4% 0;
    font-size: 2rem;
    font-weight: 900;
}
.clone_coding_wrap p.annotation{
    margin: 2% 0;
}
.clone_coding_wrap .btn_container > button{
    width: 35%;
    padding: 2% 0;
}
.baekdabang_work_contents h1{
    color: #061F61;
}
.baekdabang_work_contents .pc_img > img{
    top: 0%; 
}
.baekdabang_work_contents .btn_container > button{
    background: #061F61;
    color: #fff;
}
.baekdabang_work_contents .btn_container > button:hover{
    background: #000a27;
}
.starbucks_work_contents h1{
    color: #007042;
}
.starbucks_work_contents .pc_img > img{
    top: 0%; 
}
.starbucks_work_contents .btn_container > button{
    background: #007042;
    color: #fff;
}
.starbucks_work_contents .btn_container > button:hover{
    background: #012516;
}
section.design_artwork_wrap{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 11rem 8rem;
    box-sizing: border-box;
}
.design_artwork_wrap > h1{
    text-align: center;
    font-family: "Judson", serif;
    font-size: 3.25rem;
    font-weight: 400;
    position: relative;
}
.design_artwork_wrap > h1::before{
    display: block;
    width: 32%;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #cdcdcd;
}
.design_artwork_wrap > h1::after{
    display: block;
    width: 32%;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #cdcdcd;
}
.design_artwork_wrap > p{
    margin: 1% 0;
    text-align: center;
    font-size: 1.125rem;
    color: #797979;
}
.artwork_list_container{
    width: 100%;
    overflow: hidden;
    margin-top: 4%;
}
a.artwork_list {
    display: block;
    width: 100%;
    margin: 0 12px;
    box-sizing: border-box;
}
.artwork_img_box{
    width: 100%;
    height: 40vh;
    background: #f8f7f5;
    position: relative;
}
.artwork_img_box > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.4s ease;
}
.artwork_list:hover img{
    transform: scale(0.94);
}
.artwork_title{
    margin-top: 6%;
    font-size: 1.125rem;
    text-align: center;
}
.viewmore_btn{
    overflow: hidden;
    margin-top: 1em;
    text-align: center;
}
.viewmore_btn p{
    width: 35%;
    padding: 3% 0;
    margin: 0 auto;
    font-size: 0.875em;
    border: 1px solid #212121;
    color: #212121;
    background: transparent;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.viewmore_btn p:hover{
    border-color: #C16A3B;
    background: #C16A3B;
    color: #fff;
}
section.contact_wrap{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
    padding-top: 11rem;
    border-top: 1px solid #575757;
    box-sizing: border-box;
    position: relative;
}
article.contact_contents{
    width: 100%;
    text-align: center;
    position: relative;
}
.card_img_box{
    width: 64%;
    overflow: hidden;
    margin: 0 auto;
}
.card_img_box img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: contain;
}
.contact_title{
    width: 50%;
    text-align: left;
    position: absolute;
    bottom: 10%;
    left: 22%;
}
.contact_title > h1{
    width: 100%;
    font-size: 2.3em;
    font-weight: 400;
    font-family: "Judson", serif;
}
.contact_title > p{
    width: 100%;
    margin-top: 2%;
    font-size: 1em;
    color: #676767;
}
.contact_title > p > span{
    display: block;
    margin: 1.6% 0;
}
.contact_information_txt{
    width: auto;
    font-size: 1.2em;
    line-height: 2.25em;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}
footer{
    width: 100%;
    margin-top: 6%;
    background: #292929;
}
footer > div{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 1% 0;
    text-align: center;
    color: #E3E3E3;
    font-size: 1rem;
}
/*컨셉 설명 모달창*/
div.concept_modal_wrap{
    width: 100%;
    height: 100%;
    background: #000000c2;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}
.modal_inner_wrap{
    width: 75%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*닫기 버튼*/
.closeBtn{
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 60;
}
.closeBtn img{
    width: 100%;
    transition: transform 0.2s ease-out;
}
.closeBtn:hover img{
    transform: scale(0.7);
}
/*모달 공통*/
.site_modal{
    width: 100%;
    height: 100%;
    padding: 3.13em 5em;
    box-sizing: border-box;
    background: #FFFAF3;
    border-radius: 2.19em;
}
/*사이트 이름*/
h2.modal_name{
    padding: 2% 0;
    font-size: 2.38em;
    font-weight: 700;
}
.modal_name > span{
    padding: 0 0.5em;
    font-size: 0.47em;
    font-weight: 500;
    color: #797979;
}
/*썸네일, 오버뷰, 키워드*/
.thumImg_overview_container{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.thumImg{
    width: 33%;
    overflow: hidden;
    float: left;
}
.thumImg > img{
    width: 100%;
    object-fit: cover;
}
.overview_txt{
    overflow: hidden;
    padding-left: 2.25em;
    text-align: left;
}
h3.modal_title{
    font-size: 1.63em;
    font-family: "Judson", serif;
    font-weight: 700;
}
.overview_txt > p{
    margin: 1vh 0;
    line-height: 1.5em;
    font-size: 1em;
    color: #5A5A5A;
}
ul.concept_keyword li{
    float: left;
    margin-right: 1.5em;
    font-size: 1em;
    font-weight: 600;
}
/*기기 버튼*/
.devicesBtn_annotat_wrap{
    clear: both;
}
.devicesBtn_inner_box{
    width: 16em;
    float: right;
}
.devicesBtn{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.63em;
}
.devicesBtn > button{
    width: 50%;
    padding: 0.31em 0;
    border: 1px solid #000;
    border-radius: 0.38em;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}
.devicesBtn_inner_box > p{
    margin-top: 3%;
    text-align: center;
    font-size: 0.74em;
    color: #797979;
}
/*컬러, 타이포*/
.colors_typograph_wrap{
    padding-top: 5%;
    overflow: hidden;
    clear: both;
}
/*컬러*/
.colors_container{
    width: 33%;
    float: left;
}
ul.chips_square{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}
ul.chips_square > li{
    width: 100%;
    height: 7em;
    box-sizing: border-box;
    position: relative;
}
ul.chips_square > li:first-child{
    border: 1px solid #CCCCCC;
    background: #fff;
}
ul.chips_square > li > span{
    font-size: 0.75em;
    position: absolute;
    bottom: 0.38em;
    left: 0.38em;
    color: #696969;
}
ul.chips_square > li > span.F5F5F5{
    color: #F5F5F5;
}
/*타이포*/
.typograph_container{
    width: auto;
    overflow: hidden;
    float: left;
    margin-left: 2.25em;
    box-sizing: border-box;
}
.font_wrap{
    display: flex;
    justify-content: flex-start;
    gap: 3.75em;
}
.font_wrap > div{
    clear: both;
    width: auto;
    margin-top: 3%;
    box-sizing: border-box;
}
.font_wrap > div span.fontName{
    font-size: 1em;
    color: #7E7E7E;
}
ul.font_sample{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2.5em;
    padding-top: 1em;
    font-size: 0.88em;
}
ul.font_sample li{
    width: auto;
    text-align: center;
}
ul.font_sample li span{
    display: block;
    font-size: 2em;
}
/*해비치 모달*/
.haevichi_modal .modal_name{
    color: #415F89;
}
.haevichi_modal .devicesBtn > button{
    border-color: #116AB0;
    color: #116AB0;
}
.haevichi_modal .devicesBtn > button:hover{
    background-color: #116AB0;
    color: #fff;
}
.haevichi_chip li:nth-child(2){
    background: #116AB0;
}
.haevichi_chip li:nth-child(3){
    background: #334A5E; 
}
.haevichi_chip li:nth-child(4){
    background: #222222;
}
.haevichi_modal .font-2 .font_sample{
    padding-top: 1.31em;
}
.ft_NotosansKR li span{
    font-family: "Noto Sans KR", sans-serif;
}
.ft_Playfair li span{
    font-family: "Playfair", serif;
}
span.Light{
    font-weight: 300;
}
span.Regular{
    font-weight: 400;
}
span.Bold{
    font-weight: 800;
}
/*엘르 모달*/
.elle_modal .modal_name{
    color: #644B3B;
}
.elle_modal .devicesBtn{
    display: block;
    text-align: center;
}
.elle_modal .devicesBtn > button{
    border-color: #2A221D;
    color: #2A221D;
}
.elle_modal .devicesBtn > button:hover{
    background-color: #2A221D;
    color: #fff;
}
.elle_chip li:nth-child(2){
    background: #EFE3D8;
    border: 1px solid #CCCCCC;
    border-left: none;
}
.elle_chip li:nth-child(3){
    background: #2A221D; 
}
.elle_chip li:nth-child(4){
    background: #111111;
}
.elle_modal .font-2 .font_sample{
    padding-top: 0.634em;
}
.ft_ArefRuqaa li span{
    font-family: "Aref Ruqaa", serif;
}
/*니베아 모달*/
.nivea_modal .modal_name{
    color: #014DAF;
}
.nivea_modal .devicesBtn > button{
    border-color: #0032A0;
    color: #0032A0;
}
.nivea_modal .devicesBtn > button:hover{
    background-color: #0032A0;
    color: #fff;
}
.nivea_chip li:nth-child(2){
    background: #9093F4;
}
.nivea_chip li:nth-child(3){
    background: #0032A0; 
}
.nivea_chip li:nth-child(4){
    background: #3D5CA1;
}
.nivea_modal .font-2 .font_sample{
    padding-top: 0.25em;
}
.ft_Afacad li span{
    font-family: "Aref Ruqaa", serif;
}
/*모바일 메뉴*/
.mobile_side_menu{
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: #111;
    color: #fff;
    z-index: 60;
    opacity : 0;
    transition: all 0.3s ease-out;
}
/*닫기 버튼*/
.closeBox{
    width: 100%;
    height: 46px;
    padding: 10px 16px;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 1px;
}
.close_container{
    overflow: hidden;
    float: right;
}
.close_container > p{
    margin-right: 24px;
    float: left;
    font-size: 20px;
}
.closeIcon{
    width: 20px;
    height: 20px;
    padding: 2px;
    box-sizing: content-box;
    float: left;
    position: relative;
    cursor: pointer;
}
.closeIcon > span{
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}
.closeIcon:hover .closeL{
    transform: rotate(45deg);
}
.closeIcon:hover .closeR{
    transform: rotate(-45deg);
}
/*메뉴 컨텐츠*/
.side_menu_contents{
    width: 100%;
    height: 100vh;
    padding-top: 25%;
    box-sizing: border-box;
    border-top: 1px solid #717171;
    position: relative;
}
ul.menu_list{
    box-sizing: border-box;
    text-align: center;
}
.menu_list li{
    box-sizing: border-box;
    margin: 1em 0;
    font-size: 2em;
    font-family: "Judson", serif;
    font-weight: 400;
    color: #B7B7B7;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu_list li:hover{
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
}
li.sideFocus{ /*스크립트 제어*/
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
}
.back_text{
    text-align: center;
    font-size: 1em;
    color: #535353;
}
.back_text::before{
    display: block;
    content: '';
    width: 2em;
    height: 1px;
    margin: 2em auto;
    background: #717171;
}
.back_text> span{
    display: block;
}
/*하단 이름*/
.name_box{
    width: 100%;
    height: 4.13em;
    line-height: 4.13em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #717171;
}
.my_photo{
    width: 2.13em;
    height: 2.13em;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
}
.my_photo img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.name_box > p{
    float: left;
    margin-left: 2em;
    font-family: "Judson", serif;
    font-weight: 400;
}