@media screen and (max-width: 1280px){
    .banner_title > div {
        font-size: 3.6em;
    }
    .banner_title > p {
        font-size: 1.18em;
    }
    .profile_informat li {
        font-size: 0.9rem;
    }
    .profile_right_wrap {
        right: 5%;
    }
    .main_title {
        font-size: 1.6em;
    }
    .profile_right_wrap > p {
        font-size: 1em;
        line-height: 1.6em;
    }
    .resume_btn button {
        font-size: 0.9em;
    }
    .history_text_left ul {
        margin: 0.6em 0;
    }
    .history_text_left li.date {
        width: auto;
        float: none;
        font-size: 0.9rem;
    }
    .date_line {
        height: 83%;
        top: 6%;
        left: 10.5%;
    }
    li.history_title {
        width: auto;
        margin-left: 9%;
        float: none;
        font-size: 0.9rem;
    }
    .license_wrap {
        gap: 12px;
    }
    .clone_coding_wrap > h1::before {
        width: 30%;
    }
    .clone_coding_wrap > h1::after {
        width: 30%;
    }
    .clone_work_container h1 {
        font-size: 1.6rem;
    }
    .clone_coding_wrap > p {
        font-size: 1rem;
    }
    .clone_coding_wrap .annotation{
        font-size: 0.9em;
    }
    .design_artwork_wrap > p {
        font-size: 1rem;
    }
    .design_artwork_wrap > h1::before {
        width: 25%;
    }
    .design_artwork_wrap > h1::after {
        width: 25%;
    }
    .artwork_title {
        font-size: 1.08rem;
    }
    .viewmore_btn button {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1200px){
    .name{
        display: none !important;
    }
    .banner_title > div {
        font-size: 3em;
    }
    .banner_title > p {
        font-size: 1.1em;
    }
    .self_introduct_keyword > h1 {
        font-size: 1.6rem;
    }
    .title {
        font-size: 1.16rem;
    }
    .title span {
        font-size: 1.48rem;
    }
    .keyword_container > p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .other_view_Left_txt > h1 {
        line-height: 1.4em;
        font-size: 1.6rem;
    }
    .other_view_list h3 {
        font-size: 1.16rem;
    }
    .other_view_list h3 > span {
        font-size: 1.68rem;
    }
    .contact_information_txt {
        font-size: 1em;
        line-height: 1.74em;
    }
    .contact_title > h1 {
        font-size: 2.06em;
    }
    .contact_title > p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1158px){
    .sectionName > h1 {
        font-size: 2.7rem;
    }
    .site_name {
        font-size: 0.78em;
    }
    .site_detail_explanat dl dt {
        font-size: 0.9rem;
    }
    .site_detail_explanat dl dd {
        font-size: 0.84rem;
    }
    .btn_container button {
        font-size: 0.78em;
    }
    p.annotation {
        font-size: 0.7em;
    }
    .clone_coding_wrap > p {
        font-size: 0.9rem;
    }
    .clone_coding_wrap .annotation {
        font-size: 0.8em;
    }
    .design_artwork_wrap > p {
        font-size: 0.9rem;
    }
    .design_artwork_wrap > p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1091px){
    .main_title {
        font-size: 1.5em;
    }
    .profile_informat span {
        font-size: 0.74rem;
    }
    .profile_informat li {
        font-size: 0.84rem;
    }
    .profile_right_wrap > p {
        font-size: 0.9em;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 1038px){
    .profile_informat span {
        font-size: 0.7rem;
    }
    .profile_informat li {
        font-size: 0.8rem;
    }
}