/*태블릿 1024px ~ 768px*/
@media screen and (max-width: 1024px){
    /*헤더 영역*/
    .head_inner_box ul{
        justify-content: space-around;
        gap: 0;
    }
    .head_inner_box ul li {
        font-size: 1.24em;
    }
    /*배너*/
    .banner_title > div {
        font-size: 2.9em;
    }
    .banner_title > p {
        font-size: 1.04em;
    }
    /*어바웃*/
    section.about_section{
        padding: 0;
    }
    .about_section > h1 {
        padding: 0 8rem;
    }
    .profile_left_wrap {
        width: 100%;
        float: none;
        position: relative;
    }
    .profile_img_container {
        width: 50%;
        float: left;
        border: none;
    }
    .profile_img_container img {
        width: 40%;
        position: relative;
        top: 0;
        left: 52%;
        border: 6px solid #D5D5D5;
    }
    ul.profile_informat {
        width: 50%;
        float: left;
        padding-left: 0%;
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }
    .profile_informat li{
        margin-left: 10%;
        font-size: 0.86rem;
    }
    .profile_informat span{
        width: 16%;
    }
    .profile_right_wrap {
        width: 100%;
        text-align: center;
        float: none;
        padding-right: 0;
        position: static;
    }
    .main_title span::before{
        content: '';
        display: block;
        width: 10%;
        margin: 0 auto;
        margin-bottom: 6%;
        height: 0.6px;
        background: #333;
    }
    .profile_right_wrap > p {
        width: 60%;
        margin: 4% auto;
        font-size: 0.94em;
    }
    .resume_btn {
        width: 6em;
        box-sizing: border-box;
        position: absolute;
        bottom: 111%;
        right: 14%;
        background: #ddd;
    }
    .resume_btn button {
        width: 100%;
        padding: 6% 0;
        font-size: 0.8em;
        margin-right: 0;
        float: none;
    }
    /*정주효를 소개할게요*/
    article.self_introduct_keyword{
        padding: 0 8rem;
        box-sizing: border-box;
    }
    .self_introduct_keyword > h1 {
        font-size: 1.6rem;
    }
    .title {
        font-size: 1.1rem;
    }
    .title span {
        font-size: 1.5rem;
    }
    .keyword_container > p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    /*다른 사람이 생각하는 정주효의 모습*/
    article.other_view_wrap{
        padding: 0 8rem;
        box-sizing: border-box;
    }
    .other_view_Left_txt > h1 {
        font-size: 1.6em;
    }
    .other_view_list h3 {
        font-size: 1.1rem;
    }
    .other_view_list h3 > span {
        font-size: 1.5rem;
    }
    .other_view_list p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    /*어빌러티 영역*/
    .abillty_section > h1 {
        font-size: 2.5rem;
    }
    article.abillty_content_wrap {
        display: block;
    }
    .abillty_content_wrap > div {
        width: 100%;
    }
    .history_text_left {
        border: none;
    }
    .date_line {
        display: block;
        height: 84%;
        top: 9%;
        left: 5.4%;
    }
    .tool_ability_wrap {
        padding: 5% 0;
    }
    li.history_title {
        width: auto;
        float: left;
        margin-left: 4%;
        font-size: 0.88rem;
    }
    .history_text_left li.date {
        width: 30%;
        float: left;
        font-size: 0.84rem;
    }
    .tool_list {
        margin: 1.3em 0;
    }
    /*포트폴리오 영역*/
    .portfolio_section > h1 {
        font-size: 2.5rem;
    }
    article.site_contents {
        height: auto;
        max-height: 100%;
        padding-top: 15%;
        position: relative;
    }
    .mockup_wrap {
        width: 85%;
        margin: 0 auto;
    }
    .left_area {
        width: 80%;
        margin: 0 auto;
        float: none;
        position: relative;
    }
    .right_area {
        width: 100%;
        margin: 0 auto;
        margin-top: 8%;
        padding: 0 20%;
    }
    .site_elle .left_area {
        float: none;
    }
    .site_elle .right_area {
        padding: 0 20%;
    }
    .btn_container button {
        width: 25%;
        padding: 1.6% 0;
    }
    button.conceptBtn {
        padding: 1.2% 2%;
        font-size: 0.7em;
        position: absolute;
        right: 6%;
        bottom: -26%;
        z-index: 10;
    }
    /*클론 코딩 영역*/
    .clone_coding_wrap > h1 {
        font-size: 2.5rem;
    }
    .clone_coding_wrap > p{
        font-size: 0.86rem;
    }
    .clone_work_container h1 {
        font-size: 1.7rem;
    }
    .clone_coding_wrap .annotation {
        font-size: 0.8em;
    }
    /*디자인 작업 영역*/
    .design_artwork_wrap > h1 {
        font-size: 2.5rem;
    }
    .design_artwork_wrap > p {
        font-size: 0.9rem;
    }
    .artwork_list {
        margin: 0 24px;
    }
    .artwork_img_box {
        height: 30vh;
    }
    .artwork_title {
        font-size: 0.9rem;
    }
    .viewmore_btn button {
        width: 50%;
        padding: 5% 0;
        font-size: 0.7em;
    }   
    /*컨텍트 영역*/
    .contact_information_txt {
        font-size: 0.86em;
        line-height: 1.7em;
    }
    .contact_title > h1 {
        font-size: 1.4em;
    }
    .contact_title > p {
        font-size: 0.74em;
        margin: 1.6% 0;
    }
}
@media screen and (max-width: 980px){
    /*배너*/
    .banner_title {
        height: 77vh;
    }
    .banner_title > div {
        font-size: 2.6em;
    }
    .banner_title > p {
        font-size: 0.9em;
    }
    /*다른 사람이 생각하는 정주효의 모습*/
    article.other_view_wrap{
        width: 100%;
        padding: 8rem 0;
        box-sizing: border-box;
        float: none;
        background: linear-gradient(rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.331)), url(../img/me/gray.jpg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: cover;
        background-blend-mode: darken;
    }
    .other_view_right_Img {
        display: none;
    }
    .other_view_Left_txt {
        width: 100%;
        padding: 0 8rem;
        box-sizing: border-box;
        color: #fff;
    }
    .other_view_Left_txt > h1 {
        font-size: 1.8em;
    }
    .other_view_list h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .other_view_list h3 > span {
        font-size: 1.9rem;
    }
    .other_view_list p {
        font-size: 1rem;
        font-weight: 400;
    }
}
@media screen and (max-width: 910px){
    /*배너*/
    .banner_title > div {
        font-size: 2.4em;
    }
    .banner_title > p {
        font-size: 0.88em;
    }
    /*정주효를 소개할게요*/
    .self_introduct_keyword > h1 {
        font-size: 1.4rem;
    }
    .title {
        font-size: 1rem;
    }
    .title span {
        font-size: 1.3rem;
    }
    .keyword_container > p {
        font-size: 0.84rem;
    }
    /*클론 코딩 영역*/
    .clone_coding_wrap > h1::before {
        display: none;
    }
    .clone_coding_wrap > h1::after {
        display: none;
    }
    /*디자인 작업 영역*/
    .design_artwork_wrap > h1::before {
        display: none;
    }
    .design_artwork_wrap > h1::after {
        display: none;
    }
}
@media screen and (max-width: 850px){
    /*배너*/
    .banner_title > div {
        font-size: 2.2em;
    }
    .banner_title {
        height: 68vh;
    }
    /*어바웃 영역*/
    .resume_btn {
        right: 17%;
    }
    /*포트폴리오 영역*/
    .left_area {
        width: 100%;
    }
    .right_area {
        padding: 0 8%;
    }
    .site_detail_explanat {
        margin: 8% 0;
    }
    .site_elle .right_area {
        padding: 0 8%;
    }
    button.conceptBtn {
        bottom: -24%;
    }
    /*클론 코딩 영역*/
    article.clone_work_container {
        display: block;
    }
    article.clone_work_container > div {
        width: 100%;
        padding: 6% 5%;
    }
    /*디자인 작업 영역*/
    .artwork_list_container {
        margin-top: 8%;
    }
    .artwork_list_inner_box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .artwork_list {
        margin: 0;
        margin-bottom: 10%;
    }
    .artwork_img_box {
        height: 38vh;
    }
    .artwork_title {
        font-size: 0.9rem;
    }
    .viewmore_btn button {
        width: 34%;
        padding: 1.6% 0;
        font-size: 0.78em;
    }
}
@media screen and (max-width: 840px){
    /*어바웃 영역*/
    .sectionName > h1 {
        font-size: 2.4rem;
    }
    /*정주효를 소개할게요*/
    span.circle {
        display: none;
    }
    .circle_line::before {
        width: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .keyword_text_wrap {
        display: block;
    }
    .keyword_container {
        width: 100%;
        box-sizing: border-box;
        margin-top: 5%;
    }
    .title {
        font-size: 1.1rem;
        margin-bottom: 1%;
    }
    .title span {
        font-size: 1.5rem;
        display: inline-block;
        margin-bottom: 1%;
    }
    .keyword_container > p {
        font-size: 0.9rem;
    }
    /*다른 사람이 생각하는 정주효의 모습*/
    .other_view_Left_txt > h1 {
        font-size: 1.6em;
    }
    .other_view_list h3 {
        font-size: 1.2rem;
    }
    .other_view_list h3 > span {
        font-size: 1.7rem;
    }
    .other_view_list p {
        font-size: 0.94rem;
    }
}