/*저해상도 태블릿, 모바일(가로)*/
@media screen and (max-width: 767px){
    /*어바웃 영역*/
    .main_title {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 770px){
    /*다른 사람이 생각하는 정주효의 모습*/
    .other_view_list p {
        font-size: 0.94rem;
    }
    /*어빌러티 영역*/
    .history_text_left li.date {
        width: 38%;
    }
    li.history_title {
        font-size: 0.8rem;
    }
    .history_text_left li.date {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 730px){
    /*배너*/
    .banner_title {
        height: 56vh;
    }
    .banner_title > div {
        font-size: 2em;
    }
    .banner_title > p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 684px){
    /*어바웃 영역*/
    .about_section > h1 {
        padding: 0 4rem;
    }
    .main_title {
        font-size: 1.3em;
    }
    .profile_img_container img {
        width: 47%;
        left: 37%;
    }
    .profile_right_wrap > p {
        font-size: 0.9em;
    }
    /*정주효를 소개할게요*/
    article.self_introduct_keyword {
        padding: 0 4rem;
    }
    /*다른 사람이 생각하는 정주효의 모습*/
    .other_view_Left_txt {
        padding: 0 4rem;
    }
    /*어빌러티 영역*/
    section.abillty_section {
        padding: 0 4rem;
    }
    /*포트폴리오 영역*/
    section.portfolio_section {
        padding: 6rem 4rem;
    }
    /*클론 코딩 영역*/
    section.clone_coding_wrap {
        padding: 0 4rem;
    }
    /*디자인 작업 영역*/
    section.design_artwork_wrap {
        padding: 11rem 4rem;
    }
}
@media screen and (max-width: 610px){
    /*어바웃 영역*/
    .profile_img_container img {
        width: 52%;
        left: 33%;
    }
    /*다른 사람이 생각하는 정주효의 모습*/
    article.other_view_wrap {
        background: none;
        padding: 0;
    }
    .other_view_Left_txt > h1 {
        font-size: 1.4em;
    }
    .other_view_Left_txt {
        color: #111;
    }
    .other_view_list h3 {
        font-size: 1.1rem;
    }
    .other_view_list h3 > span {
        font-size: 1.6rem;
    }
    .other_view_list p {
        font-size: 0.9rem;
    }
}