@media screen and (max-width: 479px) {
    .banner_title {
        height: 50vh;
        left: 34%;
    }
    .job_type_txt {
        width: 7em;
    }
    .about_section > h1 {
        padding: 0 2rem;
    }
    .keyword_container {
        margin-top: 1.4em;
    }
    .profile_img_container img {
        width: 38%;
    }
    ul.profile_informat {
        left: 50%;
    }
    .profile_right_wrap > p {
        width: 80%;
    }
    .resume_btn {
        right: 8%;
    }
    .license_wrap {
        flex-direction: column;
        align-items: center;
    }
    article.self_introduct_keyword {
        padding: 0 2rem;
    }
    .other_view_Left_txt {
        padding: 0 2rem;
    }
    .other_view_list p {
        float: left;
        padding-left: 0;
    }
    section.abillty_section {
        padding: 0 2rem;
    }
    section.portfolio_section {
        padding: 6rem 2rem;
    }
    button.conceptBtn {
        bottom: -27%;
    }
    .site_name span.krName{
        display: none;
    }
    section.clone_coding_wrap {
        padding: 0 2rem;
    }
    section.design_artwork_wrap {
        padding: 11rem 2rem;
    }
    .contact_title {
        top: -75vw;
    }
    /*컨셉 모달창*/
    .modal_inner_wrap {
        height: 95%;
    }
    .closeBtn {
        width: 1.4em;
        height: 1.4em;
        top: 3%;
        right: 5%;
    }
    .site_modal {
        padding: 3.13em 1.4em;
    }
    h2.modal_name{
        padding-top: 0;
    }
    h3.modal_title{
        text-align: center;
        font-size: 1.3em;
    }
    .overview_txt > p {
        font-size: 0.76em;
    }
    ul.concept_keyword li {
        font-size: 0.76em;
    }
    ul.concept_keyword{
        width: 100%;
        overflow: hidden;
        padding: 0 2em;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    ul.concept_keyword li {
        float: none;
        margin-right: 0;
    }
    .devicesBtn_inner_box {
        position: absolute;
        left: 50%;
        bottom: 3em;
        transform: translateX(-50%);
    }
    .colors_typograph_wrap {
        padding-top: 1.2em;
    }
    ul.chips_square > li {
        height: 3em;
    }
    .typograph_container {
        margin-top: 2em;
    }
    .font_wrap{
        display: block;
        text-align: center;
    }
    .font_wrap > div span.fontName {
        font-size: 0.76em;
    }
    ul.font_sample {
        justify-content:
         center;
    }
    ul.font_sample li span {
        font-size: 1.9em;
    }
}
@media screen and (max-width: 450px){
    button.conceptBtn {
        bottom: -29%;
    }
    .mobile_side_menu {
        width: 100%;
    }
    p.annotation > span{
        display: none;
    }
    .QR-code{
        display: none;
    }
}
@media screen and (max-width: 420px){
    .banner_title {
        left: 30%;
    }
    button.conceptBtn {
        bottom: -30%;
    }
    footer > div {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 400px){
    .banner_title {
        left: 27%;
    }
    .banner_title > div {
        font-size: 1.9em;
    }
    .profile_img_container img {
        width: 40%;
    }
    .profile_informat span {
        border: none;
        text-align: left;
    }
    button.conceptBtn {
        font-size: 0.6em;
    }
    p.annotation {
        font-size: 0.6em;
    }
}
@media screen and (max-width: 360px){
    .banner_title {
        left: 22%;
    }
    .site_name {
        font-size: 0.6em;
    }
    .site_detail_explanat dl dt {
        font-size: 0.74rem;
    }
    .site_detail_explanat dl dd {
        font-size: 0.7rem;
    }
    button.conceptBtn {
        font-size: 0.4em;
        bottom: -27%;
    }
    .contact_title > h1 {
        font-size: 1.5em;
    }
    .contact_title > p {
        font-size: 0.6em;
    }
    .contact_information_txt {
        font-size: 0.7em;
    }
}
@media screen and (max-height: 835px){
    /*컨셉 모달창*/
    h2.modal_name {
        font-size: 1.5em;
    }
    h3.modal_title {
        font-size: 1.1em;
    }
    .overview_txt > p {
        font-size: 0.7em;
    }
    ul.concept_keyword li {
        font-size: 0.7em;
    }
    ul.chips_square > li > span {
        font-size: 0.6em;
    }
    .font_wrap {
        display: flex;
        justify-content: space-around;
    }
    .font_wrap > div span.fontName {
        font-size: 0.7em;
    }
    ul.font_sample {
        font-size: 0.64em;
    }
    .devicesBtn_inner_box > p {
        font-size: 0.62em;
    }
}
@media screen and (max-height: 770px){
    /*컨셉 모달창*/
    .font_wrap {
        margin-top: 3%;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
    }
    .font_wrap > div {
        width: 50%;
    }
    .devicesBtn_inner_box {
        bottom: 2% !important;
    }
}
@media screen and (max-height: 720px){
    .back_text{
        display: none;
    }
}